#### Question

The air quality data for this segment has been divided into three different csv files. 

`info.csv` has the data hour by hour data about the concentration of polutants in the air and the status of the intruments. 
`item_info` has the data for items and levels of concetration. 
`station_info` has the data for measuring stations. 

Read in all the three datasets and then print the first five rows.

You can download the dataset from kaggle website: https://www.kaggle.com/bappekim/air-pollution-in-seoul

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
data.shape

(3885066, 5)

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/Measurement_info.csv')
data.head(5)

   Measurement date  Station code  Item code  Average value  Instrument status
0  2017-01-01 00:00           101          1          0.004                  0
1  2017-01-01 00:00           101          3          0.059                  0
2  2017-01-01 00:00           101          5          1.200                  0
3  2017-01-01 00:00           101          6          0.002                  0
4  2017-01-01 00:00           101          8         73.000                  0

In [ ]:
item = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/Measurement_item_info.csv')
item.head(5)

,Item code,Item name,Unit of measurement,Good(Blue),Normal(Green),Bad(Yellow),Very bad(Red)
0,1,SO2,ppm,0.02,0.05,0.15,1.0
1,3,NO2,ppm,0.03,0.06,0.20,2.0
2,5,CO,ppm,2.00,9.00,15.00,50.0
3,6,O3,ppm,0.03,0.09,0.15,0.5
4,8,PM10,Mircrogram/m3,30.00,80.00,150.00,600.0

In [ ]:
station = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/Measurement_station_info.csv')
station.head(5)

,Station code,Station name(district),Address,Latitude,Longitude
0,101,Jongno-gu,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008
1,102,Jung-gu,"15, Deoksugung-gil, Jung-gu, Seoul, Republic o...",37.564263,126.974676
2,103,Yongsan-gu,"136, Hannam-daero, Yongsan-gu, Seoul, Republic...",37.540033,127.004850
3,104,Eunpyeong-gu,"215, Jinheung-ro, Eunpyeong-gu, Seoul, Republi...",37.609823,126.934848
4,105,Seodaemun-gu,"32, Segeomjeong-ro 4-gil, Seodaemun-gu, Seoul,...",37.593742,126.949679

#### Question

Create a new Dataframe whcih has information about the item code and item name

In [ ]:
sub_item = item.loc[:, ["Item code", "Item name"] ]
sub_item

   Item code Item name
0          1       SO2
1          3       NO2
2          5        CO
3          6        O3
4          8      PM10
5          9     PM2.5

#### Question

Create a new Dataframe whcih has information about the station code and station name

In [ ]:
sub_station = station.loc[:, ["Station code",	"Station name(district)"]]

sub_station

    Station code Station name(district)
0            101              Jongno-gu
1            102                Jung-gu
2            103             Yongsan-gu
3            104           Eunpyeong-gu
4            105           Seodaemun-gu
5            106                Mapo-gu
6            107           Seongdong-gu
7            108            Gwangjin-gu
8            109          Dongdaemun-gu
9            110            Jungnang-gu
10           111            Seongbuk-gu
11           112             Gangbuk-gu
12           113              Dobong-gu
13           114               Nowon-gu
14           115           Yangcheon-gu
15           116             Gangseo-gu
16           117                Guro-gu
17           118           Geumcheon-gu
18           119        Yeongdeungpo-gu
19           120             Dongjak-gu
20           121              Gwanak-gu
21           122              Seocho-gu
22           123             Gangnam-gu
23           124              Songpa-gu
24           125            Gangdong-gu

### Question 

In the `data` DataFrame add in a column displaying the names of the items.

In [ ]:
data_i = data.merge(item[["Item code", "Item name"] ], on='Item code', how="left")
data_i.head()

,Measurement date,Station code,Item code,Average value,Instrument status,Item name
0,2017-01-01 00:00,101,1,0.004,0,SO2
1,2017-01-01 00:00,101,3,0.059,0,NO2
2,2017-01-01 00:00,101,5,1.200,0,CO
3,2017-01-01 00:00,101,6,0.002,0,O3
4,2017-01-01 00:00,101,8,73.000,0,PM10

### Question 

In the `data_i` DataFrame add in a column displaying the names of the stations.

In [ ]:
data_s = data_i.merge(sub_station, on='Station code', how="left")
data_s.head()

,Measurement date,Station code,Item code,Average value,Instrument status,Item name,Station name(district)
0,2017-01-01 00:00,101,1,0.004,0,SO2,Jongno-gu
1,2017-01-01 00:00,101,3,0.059,0,NO2,Jongno-gu
2,2017-01-01 00:00,101,5,1.200,0,CO,Jongno-gu
3,2017-01-01 00:00,101,6,0.002,0,O3,Jongno-gu
4,2017-01-01 00:00,101,8,73.000,0,PM10,Jongno-gu

### Question 

In the `data_s` DataFrame drop the columns `Station code` and `Item code`. As these columns have not become redundant. You can find the relevant function in the pandas library [here](https://pandas.pydata.org/docs/reference/index.html).

In [ ]:
data = data_s.drop(['Station code', 'Item code'], axis = 1)
data

,Measurement date,Average value,Instrument status,Item name,Station name(district)
0,2017-01-01 00:00,0.004,0,SO2,Jongno-gu
1,2017-01-01 00:00,0.059,0,NO2,Jongno-gu
2,2017-01-01 00:00,1.200,0,CO,Jongno-gu
3,2017-01-01 00:00,0.002,0,O3,Jongno-gu
4,2017-01-01 00:00,73.000,0,PM10,Jongno-gu
...,...,...,...,...,...
3885061,2019-12-31 23:00,13.000,0,PM2.5,Gangnam-gu
3885062,2019-12-31 23:00,24.000,0,PM2.5,Geumcheon-gu
3885063,2019-12-31 23:00,19.000,0,PM10,Seodaemun-gu
3885064,2019-12-31 23:00,0.037,0,NO2,Gangdong-gu
3885065,2019-12-31 23:00,0.030,0,NO2,Gwangjin-gu

### Question 

Given below are the meanings of the values in the `Instrument status`. 

- 0: Normal 
- 1: Need for calibration 
- 2: Abnormal
- 4: Power cut off 
- 8: Under repair
- 9: Abnormal data

Using the information given above, add a column in the `data` DataFrame to give the status of the intsruments. Then drop the `Instrument status` column.  

Hint: First create a dictionary from the data, then use the same dictionary to create a DataFrame and then merge the DataFrame. with `data`

In [ ]:
status_dict = {'Instrument status': [0, 1, 2, 4, 8, 9],
 'Status': ['Normal',
  'Need for calibration',
  'Abnormal',
  'Power cut off',
  'Under repair',
  'Abnormal data']}

In [ ]:
dictdf = pd.DataFrame(status_dict)
dictdf

   Instrument status                Status
0                  0                Normal
1                  1  Need for calibration
2                  2              Abnormal
3                  4         Power cut off
4                  8          Under repair
5                  9         Abnormal data

In [ ]:
res = data.merge(dictdf, on="Instrument status", how = "left" )
res

,Measurement date,Average value,Instrument status,Item name,Station name(district),Status_x,Status_y,Status_x,Status_y,Status_x,Status_y,Status
0,2017-01-01 00:00,0.004,0,SO2,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,Normal
1,2017-01-01 00:00,0.059,0,NO2,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,Normal
2,2017-01-01 00:00,1.200,0,CO,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,Normal
3,2017-01-01 00:00,0.002,0,O3,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,Normal
4,2017-01-01 00:00,73.000,0,PM10,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...
3885061,2019-12-31 06:00,34.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal
3885062,2019-12-31 07:00,28.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal
3885063,2019-12-31 08:00,49.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal
3885064,2019-12-31 09:00,50.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal
3885065,2019-12-31 10:00,85.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal

In [ ]:
data.drop(["Instrument status"], axis = 1)

,Measurement date,Average value,Item name,Station name(district),Status_x,Status_y,Status
0,2017-01-01 00:00,0.004,SO2,Jongno-gu,Normal,Normal,Normal
1,2017-01-01 00:00,0.059,NO2,Jongno-gu,Normal,Normal,Normal
2,2017-01-01 00:00,1.200,CO,Jongno-gu,Normal,Normal,Normal
3,2017-01-01 00:00,0.002,O3,Jongno-gu,Normal,Normal,Normal
4,2017-01-01 00:00,73.000,PM10,Jongno-gu,Normal,Normal,Normal
...,...,...,...,...,...,...,...
3885061,2019-12-31 23:00,13.000,PM2.5,Gangnam-gu,Normal,Normal,Normal
3885062,2019-12-31 23:00,24.000,PM2.5,Geumcheon-gu,Normal,Normal,Normal
3885063,2019-12-31 23:00,19.000,PM10,Seodaemun-gu,Normal,Normal,Normal
3885064,2019-12-31 23:00,0.037,NO2,Gangdong-gu,Normal,Normal,Normal
3885065,2019-12-31 23:00,0.030,NO2,Gwangjin-gu,Normal,Normal,Normal

In [ ]:
data =

   Measurement date  Average value Item name Station name(district)  Status
0  2017-01-01 00:00          0.004       SO2              Jongno-gu  Normal
1  2017-01-01 00:00          0.059       NO2              Jongno-gu  Normal
2  2017-01-01 00:00          1.200        CO              Jongno-gu  Normal
3  2017-01-01 00:00          0.002        O3              Jongno-gu  Normal
4  2017-01-01 00:00         73.000      PM10              Jongno-gu  Normal

### Question 

Extract the time series data, that is year, month, date and hour form the `Measurement date` column. Once all the data is extrcted drop the `Measurement date` column. 

This operation might take some time as the dataset we are working with is very large.

In [ ]:
data['Year'] = pd.DatetimeIndex(data["Measurement date"]).year
data['Month'] = pd.DatetimeIndex(data["Measurement date"]).month
data['Date'] = pd.DatetimeIndex(data["Measurement date"]).day
data['Hour'] = pd.DatetimeIndex(data["Measurement date"]).hour

data

,Measurement date,Average value,Instrument status,Item name,Station name(district),Status_x,Status_y,Status_x,Status_y,Status_x,Status_y,Year,Month,Date,Hour
0,2017-01-01 00:00,0.004,0,SO2,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,2017,1,1,0
1,2017-01-01 00:00,0.059,0,NO2,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,2017,1,1,0
2,2017-01-01 00:00,1.200,0,CO,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,2017,1,1,0
3,2017-01-01 00:00,0.002,0,O3,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,2017,1,1,0
4,2017-01-01 00:00,73.000,0,PM10,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,2017,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3885061,2019-12-31 06:00,34.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,2019,12,31,6
3885062,2019-12-31 07:00,28.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,2019,12,31,7
3885063,2019-12-31 08:00,49.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,2019,12,31,8
3885064,2019-12-31 09:00,50.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,2019,12,31,9
3885065,2019-12-31 10:00,85.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,2019,12,31,10

In [ ]:
data = data.drop(['Measurement date'], axis = 1)

In [ ]:
data

,Average value,Instrument status,Item name,Station name(district),Status_x,Status_y,Status_x,Status_y,Status_x,Status_y,Year,Month,Date,Hour
0,0.004,0,SO2,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,2017,1,1,0
1,0.059,0,NO2,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,2017,1,1,0
2,1.200,0,CO,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,2017,1,1,0
3,0.002,0,O3,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,2017,1,1,0
4,73.000,0,PM10,Jongno-gu,Normal,Normal,Normal,Normal,Normal,Normal,2017,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3885061,34.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,2019,12,31,6
3885062,28.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,2019,12,31,7
3885063,49.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,2019,12,31,8
3885064,50.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,2019,12,31,9
3885065,85.000,2,PM10,Yongsan-gu,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,Abnormal,2019,12,31,10