<h2 style = "color : Brown">Case Study - Sales Data </h2>

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [6]:
# All imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Displays pandas float values in 2 decimals
pd.options.display.float_format = '{:,.2f}'.format

In [11]:
sales = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/data/sales.xlsx')
sales.head(5)

   Market           Region  No_of_Orders     Profit     Sales
0  Africa   Western Africa           251 -12,901.51 78,476.06
1  Africa  Southern Africa            85  11,768.58 51,319.50
2  Africa     North Africa           182  21,643.08 86,698.89
3  Africa   Eastern Africa           110   8,013.04 44,182.60
4  Africa   Central Africa           103  15,606.30 61,689.99

In [13]:
sales.loc[:,["Region", "Profit"]]

               Region     Profit
0      Western Africa -12,901.51
1     Southern Africa  11,768.58
2        North Africa  21,643.08
3      Eastern Africa   8,013.04
4      Central Africa  15,606.30
5        Western Asia -16,766.90
6       Southern Asia  67,998.76
7   Southeastern Asia  20,948.84
8             Oceania  54,734.02
9        Eastern Asia  72,805.10
10       Central Asia  -2,649.76
11     Western Europe  82,091.27
12    Southern Europe  18,911.49
13    Northern Europe  43,237.44
14     Eastern Europe  25,050.69
15      South America  12,377.59
16    Central America  74,679.54
17          Caribbean  13,529.59
18         Western US  44,303.65
19        Southern US  19,991.83
20         Eastern US  47,462.04
21         Central US  33,697.43
22             Canada   7,246.62

In [17]:
sales.iloc[1,2]

85

In [10]:
sales[["Region", "Market"]]

               Region        Market
0      Western Africa        Africa
1     Southern Africa        Africa
2        North Africa        Africa
3      Eastern Africa        Africa
4      Central Africa        Africa
5        Western Asia  Asia Pacific
6       Southern Asia  Asia Pacific
7   Southeastern Asia  Asia Pacific
8             Oceania  Asia Pacific
9        Eastern Asia  Asia Pacific
10       Central Asia  Asia Pacific
11     Western Europe        Europe
12    Southern Europe        Europe
13    Northern Europe        Europe
14     Eastern Europe        Europe
15      South America         LATAM
16    Central America         LATAM
17          Caribbean         LATAM
18         Western US          USCA
19        Southern US          USCA
20         Eastern US          USCA
21         Central US          USCA
22             Canada          USCA

##### Sales and Profit data is read in dataframe "sales"

In [ ]:
# Read file and set 2nd column as index

sales = pd.read_excel('sales.xlsx', index_col = [1])
sales

                         Market  No_of_Orders     Profit      Sales
Region
Western Africa           Africa           251 -12,901.51  78,476.06
Southern Africa          Africa            85  11,768.58  51,319.50
North Africa             Africa           182  21,643.08  86,698.89
Eastern Africa           Africa           110   8,013.04  44,182.60
Central Africa           Africa           103  15,606.30  61,689.99
Western Asia       Asia Pacific           382 -16,766.90 124,312.24
Southern Asia      Asia Pacific           469  67,998.76 351,806.60
Southeastern Asia  Asia Pacific           533  20,948.84 329,751.38
Oceania            Asia Pacific           646  54,734.02 408,002.98
Eastern Asia       Asia Pacific           414  72,805.10 315,390.77
Central Asia       Asia Pacific            37  -2,649.76   8,190.74
Western Europe           Europe           964  82,091.27 656,637.14
Southern Europe          Europe           338  18,911.49 215,703.93
Northern Europe          Europe           367  43,237.44 252,969.09
Eastern Europe           Europe           241  25,050.69 108,258.93
South America             LATAM           496  12,377.59 210,710.49
Central America           LATAM           930  74,679.54 461,670.28
Caribbean                 LATAM           288  13,529.59 116,333.05
Western US                 USCA           490  44,303.65 251,991.83
Southern US                USCA           255  19,991.83 148,771.91
Eastern US                 USCA           443  47,462.04 264,973.98
Central US                 USCA           356  33,697.43 170,416.31
Canada                     USCA            49   7,246.62  26,298.81

<h4 style = "color : Sky blue"> Example - 1 (Column Indexing)</h4>  

##### Display Sales Column

In [ ]:
sales["Sales"]

Region
Western Africa       78,476.06
Southern Africa      51,319.50
North Africa         86,698.89
Eastern Africa       44,182.60
Central Africa       61,689.99
Western Asia        124,312.24
Southern Asia       351,806.60
Southeastern Asia   329,751.38
Oceania             408,002.98
Eastern Asia        315,390.77
Central Asia          8,190.74
Western Europe      656,637.14
Southern Europe     215,703.93
Northern Europe     252,969.09
Eastern Europe      108,258.93
South America       210,710.49
Central America     461,670.28
Caribbean           116,333.05
Western US          251,991.83
Southern US         148,771.91
Eastern US          264,973.98
Central US          170,416.31
Canada               26,298.81
Name: Sales, dtype: float64

In [ ]:
sales.Sales

Region
Western Africa       78,476.06
Southern Africa      51,319.50
North Africa         86,698.89
Eastern Africa       44,182.60
Central Africa       61,689.99
Western Asia        124,312.24
Southern Asia       351,806.60
Southeastern Asia   329,751.38
Oceania             408,002.98
Eastern Asia        315,390.77
Central Asia          8,190.74
Western Europe      656,637.14
Southern Europe     215,703.93
Northern Europe     252,969.09
Eastern Europe      108,258.93
South America       210,710.49
Central America     461,670.28
Caribbean           116,333.05
Western US          251,991.83
Southern US         148,771.91
Eastern US          264,973.98
Central US          170,416.31
Canada               26,298.81
Name: Sales, dtype: float64

In [ ]:
type(sales["Sales"])

pandas.core.series.Series

##### Display Sales and Profit Column together

In [ ]:
sales[["Sales", "Profit"]]

                       Sales     Profit
Region
Western Africa     78,476.06 -12,901.51
Southern Africa    51,319.50  11,768.58
North Africa       86,698.89  21,643.08
Eastern Africa     44,182.60   8,013.04
Central Africa     61,689.99  15,606.30
Western Asia      124,312.24 -16,766.90
Southern Asia     351,806.60  67,998.76
Southeastern Asia 329,751.38  20,948.84
Oceania           408,002.98  54,734.02
Eastern Asia      315,390.77  72,805.10
Central Asia        8,190.74  -2,649.76
Western Europe    656,637.14  82,091.27
Southern Europe   215,703.93  18,911.49
Northern Europe   252,969.09  43,237.44
Eastern Europe    108,258.93  25,050.69
South America     210,710.49  12,377.59
Central America   461,670.28  74,679.54
Caribbean         116,333.05  13,529.59
Western US        251,991.83  44,303.65
Southern US       148,771.91  19,991.83
Eastern US        264,973.98  47,462.04
Central US        170,416.31  33,697.43
Canada             26,298.81   7,246.62

<h4 style = "color : Sky blue"> Example - 2 (Row Indexing)</h4>  

##### Display data for "Southern Asia"

loc accessor takes row index and column index

In [ ]:
sales.loc["Southern Asia"]

Market          Asia Pacific
No_of_Orders             469
Profit             67,998.76
Sales             351,806.60
Name: Southern Asia, dtype: object

##### Display Sales data for "Southern Asia"

In [ ]:
sales.loc["Southern Asia", "Sales"]

351806.6

##### Display data for "Southern Asia"

iloc accessor takes row number and column number

In [ ]:
sales.iloc[6]

Market          Asia Pacific
No_of_Orders             469
Profit             67,998.76
Sales             351,806.60
Name: Southern Asia, dtype: object

In [ ]:
sales.iloc[6,3]

351806.6

<h4 style = "color : Sky blue"> Example - 3 (Slicing)</h4>  

##### Display data for  Market, Sales and Profit

In [ ]:
sales.loc[:, ["Market", "Sales", "Profit"]].head()

                 Market     Sales     Profit
Region
Western Africa   Africa 78,476.06 -12,901.51
Southern Africa  Africa 51,319.50  11,768.58
North Africa     Africa 86,698.89  21,643.08
Eastern Africa   Africa 44,182.60   8,013.04
Central Africa   Africa 61,689.99  15,606.30

In [ ]:
sales.iloc[:, [0,3,2] ].head()

                 Market     Sales     Profit
Region
Western Africa   Africa 78,476.06 -12,901.51
Southern Africa  Africa 51,319.50  11,768.58
North Africa     Africa 86,698.89  21,643.08
Eastern Africa   Africa 44,182.60   8,013.04
Central Africa   Africa 61,689.99  15,606.30

##### Display data for Western Africa Southern Africa and North Africa

In [ ]:
sales.loc[["Western Africa", "Southern Africa", "North Africa"] ,:]

                 Market  No_of_Orders     Profit     Sales
Region
Western Africa   Africa           251 -12,901.51 78,476.06
Southern Africa  Africa            85  11,768.58 51,319.50
North Africa     Africa           182  21,643.08 86,698.89

In [ ]:
sales.iloc[0:3, :]

                 Market  No_of_Orders     Profit     Sales
Region
Western Africa   Africa           251 -12,901.51 78,476.06
Southern Africa  Africa            85  11,768.58 51,319.50
North Africa     Africa           182  21,643.08 86,698.89

##### Display Sales and Profit data for Western Africa Southern Africa and North Africa

In [ ]:
sales.loc[["Western Africa", "Southern Africa", "North Africa"] , ["Sales", "Profit"]]

                    Sales     Profit
Region
Western Africa  78,476.06 -12,901.51
Southern Africa 51,319.50  11,768.58
North Africa    86,698.89  21,643.08

In [18]:
sales.iloc[0:3, 2:4]

   No_of_Orders     Profit
0           251 -12,901.51
1            85  11,768.58
2           182  21,643.08

In [27]:
import pandas as pd
df = pd.read_csv('https://cdn.upgrad.com/uploads/production/b3467ba4-4e13-44e9-8087-4d7e94cc7586/forestfires.csv')
df_2 = df.loc[ 2::2, :]
print(df_2.head(20))

    X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
2   7  4   oct  sat 90.60  43.70 686.90  6.70 14.60  33  1.30  0.00  0.00
4   8  6   mar  sun 89.30  51.30 102.20  9.60 11.40  99  1.80  0.00  0.00
6   8  6   aug  mon 92.30  88.90 495.60  8.50 24.10  27  3.10  0.00  0.00
8   8  6   sep  tue 91.00 129.50 692.60  7.00 13.10  63  5.40  0.00  0.00
10  7  5   sep  sat 92.50  88.00 698.60  7.10 17.80  51  7.20  0.00  0.00
12  6  5   aug  fri 63.50  70.80 665.30  0.80 17.00  72  6.70  0.00  0.00
14  6  5   sep  wed 92.90 133.30 699.60  9.20 26.40  21  4.50  0.00  0.00
16  5  5   mar  sat 91.70  35.80  80.80  7.80 15.10  27  5.40  0.00  0.00
18  6  4   mar  wed 89.20  27.90  70.80  6.30 15.90  35  4.00  0.00  0.00
20  6  4   sep  tue 91.00 129.50 692.60  7.00 18.30  40  2.70  0.00  0.00
22  7  4   jun  sun 94.30  96.30 200.00 56.10 21.00  44  4.50  0.00  0.00
24  7  4   aug  sat 93.50 139.40 594.20 20.30 23.70  32  5.80  0.00  0.00
26  7  4   sep  fri 92.40 117.90 668.00 12.20 19.00  34  5.80  0.00  0.00
28  6  3   sep  sat 93.40 145.40 721.40  8.10 30.20  24  2.70  0.00  0.00
30  6  3   sep  fri 94.30  85.10 692.30 15.90 25.40  24  3.60  0.00  0.00
32  6  3   sep  fri 88.60  69.70 706.80  5.80 20.60  37  1.80  0.00  0.00
34  6  3   sep  mon 91.80  78.50 724.30  9.20 21.20  32  2.70  0.00  0.00
36  6  3   oct  tue 90.60  35.40 669.10  6.70 21.70  24  4.50  0.00  0.00
38  7  3   oct  sat 90.60  43.70 686.90  6.70 17.80  27  4.00  0.00  0.00
40  4  4   jul  tue 79.50  60.60 366.70  1.50 23.30  37  3.10  0.00  0.00

In [28]:
df.head(5)

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri 86.20 26.20  94.30 5.10  8.20  51  6.70  0.00  0.00
1  7  4   oct  tue 90.60 35.40 669.10 6.70 18.00  33  0.90  0.00  0.00
2  7  4   oct  sat 90.60 43.70 686.90 6.70 14.60  33  1.30  0.00  0.00
3  8  6   mar  fri 91.70 33.30  77.50 9.00  8.30  97  4.00  0.20  0.00
4  8  6   mar  sun 89.30 51.30 102.20 9.60 11.40  99  1.80  0.00  0.00

In [35]:
df.loc[[0], ["day"]]

   day
1  tue

<h4 style = "color : Sky blue"> Example - 4 (Filtering)</h4>  

##### Display Markets with Sales >300000

In [36]:
sales["Sales"] > 300000

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8      True
9      True
10    False
11     True
12    False
13    False
14    False
15    False
16     True
17    False
18    False
19    False
20    False
21    False
22    False
Name: Sales, dtype: bool

In [37]:
sales[ sales["Sales"] > 300000 ]

          Market             Region  No_of_Orders    Profit      Sales
6   Asia Pacific      Southern Asia           469 67,998.76 351,806.60
7   Asia Pacific  Southeastern Asia           533 20,948.84 329,751.38
8   Asia Pacific            Oceania           646 54,734.02 408,002.98
9   Asia Pacific       Eastern Asia           414 72,805.10 315,390.77
11        Europe     Western Europe           964 82,091.27 656,637.14
16         LATAM    Central America           930 74,679.54 461,670.28

##### Display the LATAM and Eruopean countries with sales > 250000

In [38]:
sales[  (sales["Market"].isin(["LATAM", "Europe"])) & (sales["Sales"] > 250000)     ]

    Market           Region  No_of_Orders    Profit      Sales
11  Europe   Western Europe           964 82,091.27 656,637.14
13  Europe  Northern Europe           367 43,237.44 252,969.09
16   LATAM  Central America           930 74,679.54 461,670.28

In [40]:
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0    7  5   mar  fri 86.20  26.20  94.30  5.10  8.20  51  6.70  0.00  0.00
1    7  4   oct  tue 90.60  35.40 669.10  6.70 18.00  33  0.90  0.00  0.00
2    7  4   oct  sat 90.60  43.70 686.90  6.70 14.60  33  1.30  0.00  0.00
3    8  6   mar  fri 91.70  33.30  77.50  9.00  8.30  97  4.00  0.20  0.00
4    8  6   mar  sun 89.30  51.30 102.20  9.60 11.40  99  1.80  0.00  0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...   ...
512  4  3   aug  sun 81.60  56.70 665.60  1.90 27.80  32  2.70  0.00  6.44
513  2  4   aug  sun 81.60  56.70 665.60  1.90 21.90  71  5.80  0.00 54.29
514  7  4   aug  sun 81.60  56.70 665.60  1.90 21.20  70  6.70  0.00 11.16
515  1  4   aug  sat 94.40 146.00 614.70 11.30 25.60  42  4.00  0.00  0.00
516  6  3   nov  tue 79.50   3.00 106.70  1.10 11.80  31  4.50  0.00  0.00

[517 rows x 13 columns]

In [41]:
import pandas as pd
df = pd.read_csv('https://cdn.upgrad.com/uploads/production/b3467ba4-4e13-44e9-8087-4d7e94cc7586/forestfires.csv')
df_2 = df[ (df['area'] > 0) & (df['wind'] > 1) & (df['temp'] > 15)]
print(df_2.head(20))

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
138  9  9   jul  tue 85.80  48.30 313.40  3.90 18.00  42  2.70  0.00  0.36
139  1  4   sep  tue 91.00 129.50 692.60  7.00 21.70  38  2.20  0.00  0.43
140  2  5   sep  mon 90.90 126.50 686.50  7.00 21.90  39  1.80  0.00  0.47
141  1  2   aug  wed 95.50  99.90 513.30 13.20 23.30  31  4.50  0.00  0.55
142  8  6   aug  fri 90.10 108.00 529.80 12.50 21.20  51  8.90  0.00  0.61
143  1  2   jul  sat 90.00  51.30 296.30  8.70 16.60  53  5.40  0.00  0.71
144  2  5   aug  wed 95.50  99.90 513.30 13.20 23.80  32  5.40  0.00  0.77
145  6  5   aug  thu 95.20 131.70 578.80 10.40 27.40  22  4.00  0.00  0.90
147  8  3   sep  tue 84.40  73.40 671.90  3.20 24.20  28  3.60  0.00  0.96
148  2  2   aug  tue 94.80 108.30 647.10 17.00 17.40  43  6.70  0.00  1.07
149  8  6   sep  thu 93.70  80.90 685.20 17.90 23.70  25  4.50  0.00  1.12
150  6  5   jun  fri 92.50  56.40 433.30  7.10 23.20  39  5.40  0.00  1.19
151  9  9   jul  sun 90.10  68.60 355.20  7.20 24.80  29  2.20  0.00  1.36
152  3  4   jul  sat 90.10  51.20 424.10  6.20 24.60  43  1.80  0.00  1.43
153  5  4   sep  fri 94.30  85.10 692.30 15.90 20.10  47  4.90  0.00  1.46
154  1  5   sep  sat 93.40 145.40 721.40  8.10 29.60  27  2.70  0.00  1.46
155  7  4   aug  sun 94.80 108.30 647.10 17.00 16.40  47  1.30  0.00  1.56
156  2  4   sep  sat 93.40 145.40 721.40  8.10 28.60  27  2.20  0.00  1.61
157  2  2   aug  wed 92.10 111.20 654.10  9.60 18.40  45  3.60  0.00  1.63
158  2  4   aug  wed 92.10 111.20 654.10  9.60 20.50  35  4.00  0.00  1.64

### Optional Examples 

The examples given below are good to know but not essential to achieve the objective of this session. You can go through them at your own pace.

<h4 style = "color : Sky blue"> Example - 5 (Transformation)</h4>  

##### Replace the sales values in the form of thousands

Context: Some time you might want to modify columns to make them more readable. For instance, the sales column in the given data set has six digits, followed by two decimal places. You might want to make it more readable. You can convert the actual sales number to a number in thousands and make it a round figure. 

eg. 300000 - 300K

You can use the .floordiv function to achieve the transformation explained above. You can read more about the .floordiv method [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.floordiv.html).

In [ ]:
sales.Sales = sales.Sales.floordiv(1000)

sales.head()

                 Market  No_of_Orders     Profit  Sales
Region
Western Africa   Africa           251 -12,901.51  78.00
Southern Africa  Africa            85  11,768.58  51.00
North Africa     Africa           182  21,643.08  86.00
Eastern Africa   Africa           110   8,013.04  44.00
Central Africa   Africa           103  15,606.30  61.00

In [ ]:
sales.rename(columns={'Sales': 'Sales in Thousands'}, inplace=True)
sales.head()

                 Market  No_of_Orders     Profit  Sales in Thousands
Region
Western Africa   Africa           251 -12,901.51               78.00
Southern Africa  Africa            85  11,768.58               51.00
North Africa     Africa           182  21,643.08               86.00
Eastern Africa   Africa           110   8,013.04               44.00
Central Africa   Africa           103  15,606.30               61.00

##### Replace values in Profit percent of total

In [ ]:
sales.head()

                 Market  No_of_Orders     Profit  Sales in Thousands
Region
Western Africa   Africa           251 -12,901.51               78.00
Southern Africa  Africa            85  11,768.58               51.00
North Africa     Africa           182  21,643.08               86.00
Eastern Africa   Africa           110   8,013.04               44.00
Central Africa   Africa           103  15,606.30               61.00

In [ ]:
#sales['Profit']
total_sum = sales.Profit.sum()
sales['Profit % of Total'] = sales.Profit.apply(lambda x: x/total_sum*100)

sales.head()

,Market,No_of_Orders,Profit,Sales in Thousands,Profit % of Total
Region,,,,,
Western Africa,Africa,251,"-12,901.51",78.00,-1.94
Southern Africa,Africa,85,"11,768.58",51.00,1.77
North Africa,Africa,182,"21,643.08",86.00,3.26
Eastern Africa,Africa,110,"8,013.04",44.00,1.21
Central Africa,Africa,103,"15,606.30",61.00,2.35

##### Replace negative Profits with NAN

In [ ]:
sales.loc[sales['Profit']<0, 'Profit'] = np.nan
sales.head()

                 Market  No_of_Orders    Profit     Sales
Region
Western Africa   Africa           251       nan 78,476.06
Southern Africa  Africa            85 11,768.58 51,319.50
North Africa     Africa           182 21,643.08 86,698.89
Eastern Africa   Africa           110  8,013.04 44,182.60
Central Africa   Africa           103 15,606.30 61,689.99